

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
    background-color: white;
    scroll-behavior: smooth; /* Add smooth scrolling behavior */
    padding-top: 70px; /* Add padding-top equal to the height of the navigation bar */
    
    
}
section {
  background-color: white;
  padding-top: 60px;
}

/* Add a margin to the first section to create space for the navigation bar */
section:first-child {
  margin-top: -60px;
}


header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px; /* Adjust the height as needed */
  padding: 30px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background-color: #ffffff; /* Set the background color */
  border-bottom: 2px solid #dddddd; /* Add a border at the bottom */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.logo {
  font-size: 2em;
  left: 10;
  color: #555;
  cursor: default;
}

.logo span {
  left: 10;
  color: #7d2ae8;
}

.navigation {
  justify-content: space-between;
  display: flex;
}

.navigation a {
  font-size: 1.2em;
  color: #555;
  text-decoration: none;
  margin-right: 20px; /* Adjust the spacing between navigation links */
  font-weight: 500;
  transition: .3s;
}
.navigation a:not(:last-child) {
  margin-right: 60px; /* Adjust this value to set the space between each section */
}

.navigation a:hover {
  color: #7d2ae8;
}

html{
  scroll-behavior: smooth;

}


.btn-talk {
  color: #fff;
  text-decoration: none;
  padding: 8.5px 25px; /* Adjust the padding to reduce the button size */
  font-size: 0.9em; /* Adjust the font size as needed */
  background: #7d2ae8;
  border-radius: 10px;
  border: 2px solid #7d2ae8;
  font-weight: 500;
  transition: .3s;
}

.btn-talk:hover {
  color: #7d2ae8;
  background: transparent;
}

.home {
  position: relative;
  width: 100%;
  height: 95vh;
  background: white;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 30px 100px;
  overflow: hidden;
}

.content {
  /* position: relative;
  width: 50%;
  float: left; */
  top:-50px;
  max-width: 500px;
  color: #555;
}

.content h3 {
  font-size: 20px;

  font-size: 3em;
}

.content h3 span {

  color: #7d2ae8;
}


.content p {
  padding: 10px 0 40px 0;
}

.btn-group a {
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  background: #7d2ae8;
  border-radius: 10px;
  border: 2px solid #7d2ae8;
  font-weight: 500;
  transition: .3s;
}

.btn-group a:hover:nth-child(1) {
  color: #7d2ae8;
  background: transparent;
}

.btn-group a:nth-child(2) {
  color: #7d2ae8;
  background: transparent;
  margin-left: 30px;
  padding: 10px 30px;
}

.btn-group a:hover:nth-child(2) {
  color: #fff;
  background: #7d2ae8;
}

.social-icons {
  position: relative;
  bottom: -50px;
}

.social-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: #7d2ae8;
  border-radius: 50%;
  margin-right: 22px;
  text-align: center;
  line-height: 35px;
  border: 1px solid #fff;
  outline: 2px solid #7d2ae8;
  transition: .3s;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.social-icons a i {
  color: #fff;
}

.right-content {
  flex-basis: 120%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: 250px; 
}

.right-content img {
  max-width: 100%;
  max-height: 100%;
  margin-top: 40px;
}

/* Additional styles for About section */
.about {
  width: 100%;
  height: 50vh;
  background-color: white;
  padding: 50px 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.about-image {
  flex: 0 0 40%;
  text-align: center;
  
}


.about-image img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.about-content span {
  color: #7d2ae8;
}
.about-content h2 {
  color: #555;
  font-size: 30px;

  font-weight: bold;
  margin-bottom: 20px;
}
.about-content h3 {
  color: #555;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.about-content p {
  color: #555;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.about-container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease;
}

.about-container:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

/* Animated Skills section */

/* Skills section */

#skills {
  width: 100%;
  padding: 2rem;
  text-align: center;
  margin-top: 5rem; 
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

#skills h4 {
  font-size: 24px;
  color: #555;
  text-align: left; 
  margin-bottom: 2rem; 
  position: relative;
  margin-left: 5rem;
}

#skills h4::after {
  content: "";
  display: block;
  width: 10%;
  height: 1px;
  background-color: #555; /* Set the line color */
  position: absolute;
  bottom: 0.1rem; /* Adjust the positioning of the line */
  left: 0;
}


.about-content {
  margin-top: 5rem; /* Adjust the margin as needed */
}

.skill {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
}

.skill img {
  margin-top: 1rem;
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
  transition: transform 0.3s ease;
}

.skill span {
  color: #555;
  font-size: 14px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill:hover img {
  transform: scale(1.2);
}

.skill:hover span {
  opacity: 1;
  transition-delay: 0.2s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.skill:nth-child(odd) {
  animation: fadeIn 0.5s ease forwards;
}

.skill:nth-child(even) {
  animation: fadeIn 0.5s ease forwards;
  animation-delay: 0.2s;
}



/* Styling for Experience section */

#experience {
  padding-top: 100px; 
}

.section-title {
  font-size: 24px;
  color: #555;
  text-align: left; 
  margin-bottom: 1rem; 
  position: relative;
  margin-left: 7rem;
}

.section-title::after {
  content: "";
  display: block;
  width: 28.4%;
  height: 1px;
  background-color: #555;
  position: absolute;
  bottom: 0.1rem;
 left:0;
  
}


/* Timeline Container */
.timeline {
  margin-top: -40px;
  background: white;
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 400px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}

.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}

/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #7d2ae8;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  background: white;
  color: gray;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #555;
  position: relative;
}

/* Timeline dot */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #7d2ae8;
}

/* Text right if the card is even
.card:nth-child(even) > .info > .title {
  
} */

/* Setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* Setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}


/* Additional styling for Projects section */

#projects {
  background-color: white;
  padding: 2rem;
  width: 100%;
  text-align: center;
  padding-top: 100px;
}

#projects h1 {
  color:#555;
  margin-bottom: 2rem;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -40px;
}

.project-container {
  width: 800px;
  height: auto;
  background-color: #fff;
  border-radius: 8px;
  margin: 1rem;
  box-shadow: 0 18px 18px rgba(0.1, 0, 0, 0.1);
  display: flex;
  align-items: center;
}

.image-container {
  width: 50%;
  float: right;
  padding: 1rem;
  text-align: left;
  position: relative;
}

.image-container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.frame-animation {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  animation: frameAnimation 10s infinite;
}

@keyframes frameAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Apply the animation on hover */
.neumorphism-animation:hover:before,
.neumorphism-animation:hover:after {
  animation: hover-effect 1.5s infinite;
}
.description-container {
  flex: 2;
  
  padding: 1rem;
  text-align: left;
}

.description-container h2{
  color:#7d2ae8;
  font-weight: bold;

}
.description-container h3 {
  color:#555;
  font-weight: bold;
}

.description-container p {
  color:#555;
  margin-top: 0.5rem;
}

.description-container .links {
  margin-top: 1rem;
}

.description-container .links a {
  color:#555;
  font-weight: bold;
  margin-right: 1rem;
}

.description-container .links a:last-child {
  margin-right: 0;
}

/* contact section styling */

.contact-section {
  background-color: white;
  padding: 50px;
  text-align: left;
  margin-bottom: 100px; /* Increase margin-bottom for more spacing */
}

.contact-content {
  max-width: 800px;
  margin: 0 auto;
}

.contact-content h3 {
  font-size: 25px;
  color: #555;
  margin-bottom: 20px;
  margin-left: 182px;
}

.contact-details {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.contact-item {
  justify-content: space-between;
  margin-right: 20px;
}

.contact-item a {
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: #7d2ae8;
  text-decoration: none;
}

.contact-item a:hover {
  color: #7d2ae8;
}

.contact-item span {
  display: block;
  font-size: 18px;
  color: #7d7d7d;
  margin-bottom: 10px;
  margin-top: 10px; /* Add margin top for spacing */
}

.social-media {
  margin-top: 20px; /* Add margin top for spacing */
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
  color: #7d2ae8;
  text-decoration: none;
}

.social-media a:hover {
  color: #7d2ae8;
}

/* Style the footer */

footer {
  background-color: #7d2ae8;
  color: #fff;
  padding: 20px;
  text-align: center;
  margin-top: 100px; /* Increase margin-top for more spacing */
}

/* Global styles 

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

img,
video {
  max-width: 100%;
  height: auto;
}

*/

/* Responsive styles */